{
  "paths": {
    "/api/v4/runners": {
      "post": {
        "summary": "Create a runner",
        "description": "Creates a runner.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postApiV4Runners",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4Runners"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Create a runner",
            "schema": {
              "$ref": "#/definitions/API_Entities_Ci_RunnerRegistrationDetails"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "410": {
            "description": "Gone"
          }
        },
        "tags": [
          "ci_runners"
        ],
        "operationId": "postApiV4Runners"
      },
      "delete": {
        "summary": "Delete a runner by authentication token",
        "description": "Deletes a specified registered runner.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "description": "The runner's authentication token",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "ci_runners"
        ],
        "operationId": "deleteApiV4Runners"
      },
      "get": {
        "summary": "List available runners",
        "description": "Lists all runners available to the user. For group runners, you must have the Owner role in the owner namespace.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "scope",
            "description": "Deprecated: Use `type` or `status` instead. The scope of runners to return",
            "type": "string",
            "enum": [
              "specific",
              "shared",
              "instance_type",
              "group_type",
              "project_type",
              "active",
              "paused",
              "online",
              "offline",
              "never_contacted",
              "stale"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "type",
            "description": "The type of runners to return",
            "type": "string",
            "enum": [
              "instance_type",
              "group_type",
              "project_type"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "paused",
            "description": "Whether to include only runners that are accepting or ignoring new jobs",
            "type": "boolean",
            "required": false
          },
          {
            "in": "query",
            "name": "status",
            "description": "The status of runners to return",
            "type": "string",
            "enum": [
              "active",
              "paused",
              "online",
              "offline",
              "never_contacted",
              "stale"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "tag_list",
            "description": "A list of runner tags",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false,
            "example": [
              "macos",
              "shell"
            ]
          },
          {
            "in": "query",
            "name": "version_prefix",
            "description": "The version prefix of runners to return",
            "type": "string",
            "required": false,
            "example": "15.1."
          },
          {
            "in": "query",
            "name": "page",
            "description": "Current page number",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false,
            "example": 1
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "required": false,
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "List all available runners",
            "schema": {
              "$ref": "#/definitions/API_Entities_Ci_Runner"
            }
          },
          "400": {
            "description": "Scope contains invalid value"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "runners"
        ],
        "operationId": "getApiV4Runners"
      }
    },
    "/api/v4/runners/verify": {
      "post": {
        "summary": "Verify authentication for a registered runner",
        "description": "Verifies authentication for a registered runner.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postApiV4RunnersVerify",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4RunnersVerify"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credentials are valid",
            "schema": {
              "$ref": "#/definitions/API_Entities_Ci_RunnerRegistrationDetails"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Runner is orphaned"
          }
        },
        "tags": [
          "ci_runners"
        ],
        "operationId": "postApiV4RunnersVerify"
      }
    }
  },
  "swagger": "2.0",
  "info": {
    "title": "GitLab API (subset)",
    "version": "v4"
  },
  "host": "gitlab.com",
  "definitions": {
    "postApiV4Runners": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "Registration token"
        },
        "description": {
          "type": "string",
          "description": "Description of the runner"
        },
        "maintainer_note": {
          "type": "string",
          "description": "Deprecated: see `maintenance_note`"
        },
        "maintenance_note": {
          "type": "string",
          "description": "Free-form maintenance notes for the runner (1024 characters)"
        },
        "info": {
          "type": "object",
          "description": "Runner's metadata",
          "properties": {
            "name": {
              "type": "string",
              "description": "Runner's name"
            },
            "version": {
              "type": "string",
              "description": "Runner's version"
            },
            "revision": {
              "type": "string",
              "description": "Runner's revision"
            },
            "platform": {
              "type": "string",
              "description": "Runner's platform"
            },
            "architecture": {
              "type": "string",
              "description": "Runner's architecture"
            }
          }
        },
        "active": {
          "type": "boolean",
          "description": "Deprecated: Use `paused` instead. Specifies if the runner is allowed to receive new jobs"
        },
        "paused": {
          "type": "boolean",
          "description": "Specifies if the runner should ignore new jobs"
        },
        "locked": {
          "type": "boolean",
          "description": "Specifies if the runner should be locked for the current project"
        },
        "access_level": {
          "type": "string",
          "description": "The access level of the runner",
          "enum": [
            "not_protected",
            "ref_protected"
          ]
        },
        "run_untagged": {
          "type": "boolean",
          "description": "Specifies if the runner should handle untagged jobs"
        },
        "tag_list": {
          "type": "array",
          "description": "A list of runner tags",
          "items": {
            "type": "string"
          }
        },
        "maximum_timeout": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum timeout that limits the amount of time (in seconds) that runners can run jobs"
        }
      },
      "required": [
        "token"
      ],
      "description": "Create a runner"
    },
    "API_Entities_Ci_RunnerRegistrationDetails": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "token_expires_at": {
          "type": "string"
        }
      },
      "required": [
        "id",
        "token",
        "token_expires_at"
      ],
      "description": "API_Entities_Ci_RunnerRegistrationDetails model"
    },
    "API_Entities_Ci_Runner": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 8
        },
        "description": {
          "type": "string",
          "example": "test-1-20150125"
        },
        "ip_address": {
          "type": "string",
          "example": "127.0.0.1"
        },
        "active": {
          "type": "boolean",
          "example": true
        },
        "paused": {
          "type": "boolean",
          "example": false
        },
        "is_shared": {
          "type": "boolean",
          "example": true
        },
        "runner_type": {
          "type": "string",
          "enum": [
            "instance_type",
            "group_type",
            "project_type"
          ],
          "example": "instance_type"
        },
        "name": {
          "type": "string",
          "example": "test"
        },
        "online": {
          "type": "boolean",
          "example": true
        },
        "created_by": {
          "$ref": "#/definitions/API_Entities_UserBasic"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "example": "2025-05-03T00:00:00.000Z"
        },
        "status": {
          "type": "string",
          "example": "online"
        },
        "job_execution_status": {
          "type": "string",
          "enum": [
            "active",
            "idle"
          ],
          "example": "idle"
        }
      },
      "required": [
        "id",
        "description",
        "ip_address",
        "active",
        "paused",
        "is_shared",
        "runner_type",
        "name",
        "online",
        "created_at",
        "status",
        "job_execution_status"
      ],
      "description": "API_Entities_Ci_Runner model"
    },
    "postApiV4RunnersVerify": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "The runner's authentication token"
        },
        "system_id": {
          "type": "string",
          "description": "The runner's system identifier"
        }
      },
      "required": [
        "token"
      ],
      "description": "Verify authentication for a registered runner"
    },
    "API_Entities_UserBasic": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 1
        },
        "username": {
          "type": "string",
          "example": "admin"
        },
        "public_email": {
          "type": "string",
          "example": "john@example.com"
        },
        "name": {
          "type": "string",
          "example": "Administrator"
        },
        "state": {
          "type": "string",
          "example": "active"
        },
        "locked": {
          "type": "boolean"
        },
        "avatar_url": {
          "type": "string",
          "example": "https://gravatar.com/avatar/1"
        },
        "avatar_path": {
          "type": "string",
          "example": "/user/avatar/28/The-Big-Lebowski-400-400.png"
        },
        "custom_attributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/API_Entities_CustomAttribute"
          }
        },
        "web_url": {
          "type": "string",
          "example": "https://gitlab.example.com/root"
        }
      },
      "required": [
        "id",
        "username",
        "public_email",
        "name",
        "state",
        "locked",
        "avatar_url",
        "web_url"
      ],
      "description": "API_Entities_UserBasic model"
    },
    "API_Entities_CustomAttribute": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "example": "foo"
        },
        "value": {
          "type": "string",
          "example": "bar"
        }
      },
      "required": [
        "key",
        "value"
      ],
      "description": "API_Entities_CustomAttribute model"
    }
  }
}
